.heading {
    margin-top: 0;
    width: 100%;
    font-size: 40px;
    box-shadow: 5px, 5px, 18px solid lightcoral;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.heading2 {
    font-size: 25px;
    background-color: orange;
    color: slateblue;
    float: none;
    box-shadow: 5px, 5px, 18px solid;
    padding: 10px;
}

.btn-default {
    font-size: 20px;
    border-radius: 5px;
    color: slateblue;
}

.footer {
    width: 100%;
    background-color: white;
    bottom: 0;
    position: fixed;
    line-height: 15px;
}

.foot {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box_shadow {
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

canvas {
    border: 10px ridge yellowgreen;
    margin-top: 15%;
    margin-left: 100px;
}
.box_shadow2 {
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 26% ;
}